<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">
			jdbc:sqlserver://localhost\CHUINSTANCE;databasename=chu;integratedSecurity=true;</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<mapping resource="org/chu/greve/models/Cadre.hbm.xml" />
	</session-factory>
</hibernate-configuration>